body {
  background-color: #E2D7D2;
  font-family: 'Pretendard', sans-serif;
  overflow-y: hidden;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#headerContainer {
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
  color: #401C0C;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); /* 텍스트 그림자 추가 */
  cursor: pointer;
}

#contentContainer {
  display: flex;
  height: 87vh;
}

#menuBar {
  width: 16vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* 세로 간격을 일정하게 설정 */
  padding-top: 0vh;
  padding-bottom: 6vh;
}

#menuBar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; /* 메뉴 항목 간의 간격을 일정하게 */
}

#menuBar li {
  margin: 35px 0;
  font-size: 1.2em;
  color: #401C0C;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* 텍스트 그림자 추가 */
}

#menuBar li:hover {
  color: #614b47;
}

#mainContent {
  width: 82vw;
  height: 82vh;
  padding: 20px;
  padding-left: 0;
  padding-right: 3vw;
  padding-top: 10px;
  text-align: center;
  align-items: center;
}

#imageContainer {
  width: 82vw;
  height: 79vh;
  position: relative;
  margin: auto;
  overflow-y: scroll; /* 세로 스크롤바는 보이게 */
  overflow-x: hidden; /* 가로 스크롤바는 숨기기 */
  background-color: #ede6e3;
  border: 2px solid #c4aa9f12;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-attachment: local; /* 오버플로우 시 배경 이미지 스크롤 */
  box-shadow: 0px 0px 14px rgba(35, 21, 1, 0.12);
}

.Buttonicon {
  margin-right: 1px;
  margin-left: 5px; /* 아이콘과 버튼 사이의 간격 */
  margin-bottom: 1px;
  vertical-align: middle; /* 버튼과 아이콘의 수직 정렬 */
  width: 15px; /* 아이콘 크기 조정 */
  height: 15px; /* 아이콘 크기 조정 */
}

#imageContainer::-webkit-scrollbar {
  width: 10px;
}
#imageContainer::-webkit-scrollbar-thumb {
  background-color: #c4aa9f65;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
  box-shadow: inset 0px 0px 2px #FCF5F340;
}
#imageContainer::-webkit-scrollbar-track {
  background-color: #c4aa9f30;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #c4aa9f65;
}

#transformContainer {
  z-index: 10000;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  display: flex; /* 버튼을 나란히 배치 */
}

#uproadContainer {
  z-index: 10000;
  position: absolute;
  right: 8px;
  bottom: 16px;
  display: flex;
  flex-direction: column; /* 버튼을 위아래로 배치 */
  align-items: center;
}

#topContainer {
  z-index: 10000;
  position: absolute;
  top: 61px;
  right: 68px;
  transform: translateX(-50%);
}

#controlContainer, #boardContainer {
  position: relative;
}

#show {
  width: 101px;
  position: absolute;
  bottom: 15px;
  transform: translateX(-50%);
  background-color: #F1EBE9;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #401C0C;
}

#show:active {
  background-color: #401C0C;
  color: #F1EBE9;
}

#uproad {
  width: 120px;
  background-color: #F1EBE9;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #401C0C;
  margin: 0 10px; /* 버튼 간 간격 설정 */
  white-space: nowrap;
  text-align: center;
}

#capture {
  white-space: nowrap;
  width: 120px;
  background-color: #F1EBE9;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #401C0C;
  margin: 0 10px 10px; /* 버튼 간 간격 설정 */
  text-align: center;
}

#uproad:active {
  background-color: #c4aa9f;
  color: #401C0C;
}

#tilt{
  width: 105px;
  background-color: #F1EBE9;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #401C0C;
  margin: 0 10px; /* 버튼 간 간격 설정 */
  white-space: nowrap;
}

#move {
  width: 105px;
  background-color: #c4aa9f;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #401C0C;
  margin: 0 10px; /* 버튼 간 간격 설정 */
  text-align: right;
  white-space: nowrap;
}

.photo-container-set {
  position: relative;
  height: 260px; /* 이미지 height 250px + 여백 */
  perspective: 1000px; /* 3D 효과를 위한 perspective 설정 */
  z-index: 2;
}

.photo-inner {
  width: 100%;
  height: 306.7px; /* 포토 컨테이너 셋과 동일한 높이 */
  transition: transform 0.4s;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.12);
}

.photo-container-set.flipped .photo-inner {
  transform: rotateY(180deg);
}

.photo-front, .photo-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-front {
  background-color: white;
  transform: rotateY(0deg);
}

.photo-back {
  background-color: white;
  transform: rotateY(180deg);
}

.photo-container {
  position: relative;
  padding: 10px 10px 35px 10px; 
  background-color: white;
  text-align: center;
  display: inline-block;
  height: 260px; /* 고정된 세로 크기 */
}

.photo-container img {
  width: 100%;
  height: 230px; /* 이미지 height 고정 */
  display: block;
}

.views, .date {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 14px;
  color: #401C0C;
}

.views {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 3px;
  left: 10px;
}

.views img {
  margin-left: 5px; /* 조회수 텍스트와 아이콘 사이의 간격 */
  width: 12px;
  height: 12px;
}

.date {
  right: 10px;
  margin-right: 1px;
}
